<!-- Modal Edit-->
<div class="modal fade" id="modal-buffet-ticket-edit" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh Sửa Vé Buffet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="font-size: 14px;">Bạn có chắc chắn muốn chỉnh sửa dữ liệu không?</p>
            </div>
            <div class="modal-footer modal-footer-uniform">
                <button type="button" class="btn btn-md btn-default" data-bs-dismiss="modal">Thoát</button>
                <button type="button" value="Edit" class="btn btn-md btn-primary float-end btn-confirm-edit">Chỉnh Sửa</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->