<table id="tickets" class="table mt-0 table-hover no-wrap" data-page-size="10">
    <thead>
        <tr>
            <th style="width: 3%;">#</th>
            <th style="width: 5%;">Tên Vé</th>
            <th style="width: 3%;">Giá Vé</th>
            <th style="width: 10%;">Trạng Thái</th>
            <th style="width: 5%;">Thời Gian Tạo</th>
            <th style="width: 5%;">Thời Gian Cập Nhật</th>
        </tr>
    </thead>
    <tbody id="list-buffet-ticket">
    </tbody>
</table>