<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">
        <div class="multinav">
            <div class="multinav-scroll" style="height: 100%;">
                <!-- sidebar menu-->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Thao Tác Chung</li>
                    <li class="">
                        <a href="/Manager">
                            <i class="icon-Layout-4-blocks" style="margin-right: 5px;">
                                <span class="path1"></span><span class="path2"></span>
                            </i>
                            <span>Trang Chủ</span>
                        </a>
                    </li>

                    <li class="header">Thao Tác Nghiệp Vụ</li>

                    <li class="">
                        <a href="/Manager/ServingTable">
                            <i class="icon-Tablet" style="margin-right: 5px;">
                                <span class="path1"></span><span class="path2"></span>
                            </i>
                            <span>Quản Lý Bàn Phục Vụ</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/Manager/Payment">
                            <i class="icon-Layout-4-blocks" style="margin-right: 5px;">
                                <span class="path1"></span><span class="path2"></span>
                            </i>
                            <span>Quản Lý Thanh Toán</span>
                        </a>
                    </li>

                    <li class="header">Thao Tác Khác</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="sidebar-footer">
        <a href="javascript:void(0)" class="link" data-bs-toggle="tooltip" title="" data-bs-original-title="Settings" aria-label="Settings"><span class="icon-Settings-2"></span></a>
        <a href="mailbox.html" class="link" data-bs-toggle="tooltip" title="" data-bs-original-title="Email" aria-label="Email"><span class="icon-Mail"></span></a>
        <a href="javascript:void(0)" class="link" data-bs-toggle="tooltip" title="" data-bs-original-title="Logout" aria-label="Logout"><span class="icon-Lock-overturning"><span class="path1"></span><span class="path2"></span></span></a>
    </div>
</aside>