<header class="header_in clearfix" style="padding: 10px 0;">
    <div class="container">
        <div id="logo"><a class="navbar-brand" href="/Home"><img src="~/Content/User/images/logo-2.png" alt="logo" class="img-responsive"></a></div>
        <div class="layer"></div>
        <a href="#0" class="open_close"><i class="icon_menu"></i><span>Menu</span></a>
        <nav class="main-menu">
            <div id="header_menu">
                <a href="#0" class="open_close"><i class="icon_close"></i><span>Menu</span></a>
                <a href="/Home"><img src="~/Content/User/fooyes/img/logo.svg" width="162" height="35" alt=""></a>
            </div>
            <ul>
                <li><a href="/Home" style="font-size: 16px; font-weight: bold;">Trang Chủ</a></li>
                <li><a href="/Menu" style="font-size: 16px; font-weight: bold;">Thực Đơn</a></li>
                <li><a href="/Admin/Home/Login" style="color: #e25111; font-size: 16px; font-weight: bold;" id="login">Đăng Nhập</a></li>
                <li><a href="/Admin" style="color: #e25111; font-size: 16px; font-weight: bold;" id="username_header"></a></li>
                <li><a href="#" onclick="removeSession()" style="color: #e25111; font-size: 16px; font-weight: bold; display: none;" id="logout">Đăng Xuất</a></li>
            </ul>
        </nav>
    </div>
</header>
