<!-- Modal Create-->
<div class="modal fade" id="modal-serving-table-create" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm Bàn Phục Vụ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Mã Bàn Phục Vụ</label>
                    <input type="number" class="form-control" id="createServingTableCode" name="ServingTableCode" placeholder="Nhập Mã Bàn Phục Vụ">
                </div>
                <div class="form-group">
                    <label for="">Sức Chứa</label>
                    <input type="number" class="form-control" id="createCapacity" name="Capacity" placeholder="Nhập Sức Chứa Bàn Phục Vụ">
                </div>
                <div class="form-group">
                    <label for="">Mô Tả</label>
                    <textarea class="form-control" id="createDescription" name="Description" rows="5" cols="80"></textarea>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" style="padding: 10px 10px; border-radius: 5px; display: none;">
                    </div>
                </div>
                <div class="form-group">
                    <div class="alert alert-success" style="padding: 10px 10px; border-radius: 5px; display: none;">
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer-uniform">
                <button type="button" class="btn btn-md btn-default" data-bs-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-md btn-success float-end btn btn-create">Thêm Mới</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->