<table id="tickets" class="table mt-0 table-hover no-wrap" data-page-size="10">
    <thead>
        <tr>
            <th style="width: 3%;">#</th>
            <th style="width: 5%;">Mã Bàn</th>
            <th style="width: 3%;">Sức Chứa</th>
            <th style="width: 10%;">Trang Thái</th>
            <th style="width: 5%;">Thời Gian Tạo</th>
        </tr>
    </thead>
    <tbody id="list-serving-table">
    </tbody>
</table>