@{
    ViewBag.Title = "Thể Loại Món Ăn";
}

@*@using (Html.BeginForm("Create", "CategoryFood", FormMethod.Post, new { id = "from-category-food-create", onsubmit = "return(validate('from-category-food-create'));" }))
{*@
    <!-- Modal Create-->
    <div class="modal fade" id="modal-category-food-create" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm Thể Loại Món Ăn</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-0 p-0" style="display: none;">
                        @Html.AntiForgeryToken()
                    </div>
                    <div class="form-group">
                        <label for="">@ViewBag.Title</label>
                        <input type="text" class="form-control" id="create-name" name="name" placeholder="Nhập @ViewBag.Title" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="">Mô Tả</label>
                        <textarea class="form-control" id="create-description" name="description" rows="5" cols="30"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger" style="padding: 10px 10px; border-radius: 5px; display: none;">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-success" style="padding: 10px 10px; border-radius: 5px; display: none;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal-footer-uniform">
                    <button type="button" class="btn btn-md btn-default" data-bs-dismiss="modal">Thoát</button>
                    <button type="submit" value="Create" class="btn btn-md btn-success float-end btn-create">Thêm Mới</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
@*}*@