@*@using (Html.BeginForm("Edit", "CategoryFood", FormMethod.Post, new { id = "from-category-food-edit" }))
{*@
    <!-- Modal Edit-->
    <div class="modal fade" id="modal-category-food-edit" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chỉnh Sửa Thể Loại Món Ăn</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="display: none;">
                        <input type="hidden" id="edit-id" name="id">
                        <input type="hidden" id="edit-name" name="name">
                        <input type="hidden" id="edit-link" name="link" class="form-control">
                        <textarea id="edit-description" name="description" rows="5" cols="80"></textarea>
                    </div>
                    <p style="font-size: 14px;">Bạn có chắc chắn muốn chỉnh sửa dữ liệu không?</p>
                </div>
                <div class="modal-footer modal-footer-uniform">
                    <button type="button" class="btn btn-md btn-default" data-bs-dismiss="modal">Thoát</button>
                    <button type="submit" value="Edit" class="btn btn-md btn-primary float-end btn-edit">Chỉnh Sửa</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
@*}*@