<!-- Modal Create-->
<div class="modal fade" id="modal-buffet-ticket-menu-item-create" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm Vé Buffet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Chọn Loại Vé</label>
                    <select class="form-select" id="createBuffetTicket" name="createBuffetTicket">
                        <option disabled selected value="">Vui Lòng Chọn Loại Vé</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Chọn Món Ăn</label>
                    <select class="form-select" id="createBuffetTicketName" name="createBuffetTicketName">
                        <option disabled selected value="">Vui Lòng Chọn Món Ăn</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" style="padding: 10px 10px; border-radius: 5px; display: none;">
                    </div>
                </div>
                <div class="form-group">
                    <div class="alert alert-success" style="padding: 10px 10px; border-radius: 5px; display: none;">
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer-uniform">
                <button type="button" class="btn btn-md btn-default" data-bs-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-md btn-success float-end btn btn-create">Thêm Mới</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->