<!-- Modal Delete-->
<div class="modal fade" id="modal-buffet-ticket-menu-item-delete" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa Vé Buffet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="font-size: 14px;">Bạn có chắc chắn muốn xóa dữ liệu không?</p>
            </div>
            <div class="modal-footer modal-footer-uniform">
                <button type="button" class="btn btn-md btn-default" data-bs-dismiss="modal">Thoát</button>
                <button type="submit" value="Delete" class="btn btn-md btn-danger float-end btn-confirm-delete">Thùng Rác</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->