<table id="tickets" class="table mt-0 table-hover no-wrap" data-page-size="10">
    <thead>
        <tr>
            <th style="width: 5% ;">#</th>
            <th style="width: 10%;">Tên Vé</th>
            <th style="width: 10%;">Giá Vé</th>
            <th style="width: 20%;">Thể Loại Món Ăn</th>
            <th style="width: 25%;">Tên Món Ăn</th>
            <th style="width: 30%;">Ảnh Món Ăn</th>
        </tr>
    </thead>
    <tbody id="list-buffet-ticket-menu-item">
    </tbody>
</table>