<!-- REVOLUTION SLIDER -->
<div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery34"
     style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
    <div id="rev_slider_34_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
        <ul>
            <!-- SLIDE  -->
            <li data-index="rs-129" data-transition="fade" data-slotamount="default" data-rotate="0"
                data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                data-title="Steak Cá Tươi" data-description="Món ăn cá nướng giòn, kèm rau sống và sốt.">
                <!-- MAIN IMAGE -->
                <img src="~/Content/User/images/banner2.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                     data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYER NR. 2 -->
                <h1 class="tp-caption tp-resizeme" data-x="left" data-hoffset="15" data-y="70"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                    data-start="500" data-splitin="none" data-splitout="none" style="z-index: 6;">
                    Chúng tôi tự hào cung cấp <span class="color"><br>Steak cá tươi</span> ngon nhất!
                </h1>
                <!-- LAYER NR. 2 -->
                <p class="tp-caption tp-resizeme" data-x="left" data-hoffset="15" data-y="210"
                   data-transform_idle="o:1;"
                   data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                   data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                   data-start="800" style="z-index: 9;">
                    Chúng tôi tự hào về <span class="color">Steak cá tươi</span> ngon nhất, được làm từ nguyên liệu tươi sạch và chế biến chuyên nghiệp với bí quyết ẩm thực độc đáo.
                    <br>Kết hợp với các phương pháp chế biến chuyên nghiệp và bí quyết ẩm thực độc đáo, mang đến cho thực khách một trải nghiệm ẩm thực đích thực.
                </p>
                <div class="tp-caption fade tp-resizeme" data-x="left" data-hoffset="15" data-y="280"
                     data-width="full"
                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                     data-start="1200" style="z-index: 12;">
                    <a href="../Menu/Index" class="btn-common btn-white page-scroll">Thực Đơn</a>
                </div>
            </li>

            <li class="text-center" data-index="rs-130" data-transition="slideleft" data-slotamount="default"
                data-rotate="0" data-title="Bánh Dừa vị Xả"
                data-description="Chế biến thủ công. Hương vị tcủa dừa với vị Xả.">
                <img src="~/Content/User/images/banner1.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                     data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <h1 class="tp-caption tp-resizeme" data-x="center" data-hoffset="15" data-y="70"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                    data-start="500" data-splitin="none" data-splitout="none" style="z-index: 6;">
                    <span class="small_title">Bánh Ngọt Thơm Ngon</span> <br> Dừa vị <span class="color">Xả</span>
                </h1>
                <p class="tp-caption tp-resizeme" data-x="center" data-hoffset="15" data-y="210"
                   data-transform_idle="o:1;"
                   data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                   data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                   data-start="800" style="z-index: 9;">
                    Bánh Dừa vị Xả ngon nhất được làm bằng tay bởi các đầu bếp tài ba của chúng tôi. <br>Ghé cửa hàng của chúng tôi để thưởng thức.
                </p>
                <div class="tp-caption fade tp-resizeme" data-x="center" data-hoffset="15" data-y="280"
                     data-width="full"
                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                     data-start="1200" style="z-index: 12;">
                    <a href="../Menu/Index" class="btn-common btn-white page-scroll">Thực Đơn</a>
                </div>
            </li>

            <li class="text-right" data-index="rs-131" data-transition="slideleft" data-rotate="0"
                data-title="Thức Ăn Tươi Sạch" data-description="Nguyên liệu tươi sạch, đảm bảo vệ sinh an toàn.">
                <img src="~/Content/User/images/banner4.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                     data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <h1 class="tp-caption tp-resizeme" data-x="right" data-hoffset="" data-y="70"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                    data-start="500" data-splitin="none" data-splitout="none" style="z-index: 6;">
                    <span class="small_title">Chúng tôi chuyên chuẩn bị</span> <br> Những món ăn <span class="color">tươi - sạch</span>
                </h1>
                <p class="tp-caption tp-resizeme" data-x="right" data-hoffset="" data-y="210"
                   data-transform_idle="o:1;"
                   data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                   data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                   data-start="800" style="z-index: 9;">
                    Chúng tôi là đội ngũ chuyên nghiệp trong việc chuẩn bị các món ăn tươi sạch nhất.
                    <br>Hãy đến cửa hàng của chúng tôi để thưởng thức những món ăn ngon và bổ dưỡng.
                </p>
                <div class="tp-caption fade tp-resizeme" data-x="right" data-hoffset="" data-y="280"
                     data-width="full" data-transform_idle="o:1;"
                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                     data-start="1200" style="z-index: 12;">
                    <a href="../Menu/Index" class="btn-common btn-white page-scroll">Thực Đơn</a>
                </div>
            </li>
            <!-- SLIDE  -->
        </ul>
    </div>
</div>
<!-- END REVOLUTION SLIDER -->