<header class="main-header">
    <div class="d-flex align-items-center logo-box justify-content-start">
        <a href="#"
           class="waves-effect waves-light nav-link d-none d-md-inline-block mx-10 push-btn bg-transparent"
           data-toggle="push-menu" role="button">
            <span class="icon-Align-left">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
            </span>
        </a>
        <!-- Logo -->
        <a href="/Admin" class="logo" style="padding-left: 0px;">
            <!-- logo-->
            <div class="logo-lg">
                <span class="light-logo"><img src="~/Content/Admin/assets/images/logo.png" alt="logo"></span>
                <span class="dark-logo"><img src="~/Content/Admin/assets/images/logo.png" alt="logo"></span>
            </div>
        </a>
    </div>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <div class="app-menu">
            <ul class="header-megamenu nav">
                <li class="btn-group nav-item d-md-none">
                    <a href="#" class="waves-effect waves-light nav-link push-btn" data-toggle="push-menu"
                       role="button">
                        <span class="icon-Align-left">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                        </span>
                    </a>
                </li>
                <li class="btn-group nav-item d-none d-xl-inline-block">
                    <a href="contact_app_chat.html" class="waves-effect waves-light nav-link svg-bt-icon"
                       title="Chat">
                        <i class="icon-Chat"><span class="path1"></span><span class="path2"></span></i>
                    </a>
                </li>
                <li class="btn-group nav-item d-none d-xl-inline-block">
                    <a href="mailbox.html" class="waves-effect waves-light nav-link svg-bt-icon"
                       title="Mailbox">
                        <i class="icon-Mailbox"><span class="path1"></span><span class="path2"></span></i>
                    </a>
                </li>
                <li class="btn-group nav-item d-none d-xl-inline-block">
                    <a href="extra_taskboard.html" class="waves-effect waves-light nav-link svg-bt-icon"
                       title="Taskboard">
                        <i class="icon-Clipboard-check">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                        </i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar-custom-menu r-side">
            <ul class="nav navbar-nav">
                <li class="btn-group nav-item d-lg-inline-flex d-none">
                    <a href="#" data-provide="fullscreen" class="waves-effect waves-light nav-link full-screen"
                       title="Full Screen">
                        <i class="icon-Expand-arrows"><span class="path1"></span><span class="path2"></span></i>
                    </a>
                </li>
                <li class="btn-group d-lg-inline-flex d-none">
                    <div class="app-menu">
                        <div class="search-bx mx-5">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Tìm kiếm chức năng..."
                                       aria-label="Search" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn" type="submit" id="button-addon3">
                                        <i class="ti-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- User Account-->
                <li class="dropdown user user-menu">
                    <a href="#" class="waves-effect waves-light dropdown-toggle" data-bs-toggle="dropdown"
                       title="User">
                        <i class="icon-User"><span class="path1"></span><span class="path2"></span></i>
                    </a>
                    <ul class="dropdown-menu animated flipInX">
                        <li class="user-body">
                            @*<div class="dropdown-divider"></div>*@
                            <a class="dropdown-item" href="Admin/Home/Login"><i class="ti-lock text-muted me-2"></i> Đăng Xuất</a>
                            <a id="username_header" class="dropdown-item" href="Admin/Home/Login"><i class="ti-user text-muted me-2"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>