<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">
        <div class="multinav">
            <div class="multinav-scroll" style="height: 100%;">
                <!-- sidebar menu-->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Thao Tác Chung</li>
                    <li class="">
                        <a href="/Admin">
                            <i class="icon-Layout-4-blocks" style="margin-right: 5px;">
                                <span class="path1"></span><span class="path2"></span>
                            </i>
                            <span>Trang Chủ</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="/Admin/ServingTable">
                            <i class="icon-Chat-check" style="margin-right: 5px;">
                                <span class="path1"></span><span class="path2"></span>
                            </i>
                            <span>Quản Lý Bàn Phục Vụ</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="/Admin/BuffetTicket">
                            <i class="icon-Chat-check" style="margin-right: 5px;">
                                <span class="path1"></span><span class="path2"></span>
                            </i>
                            <span>Quản Lý Vé Buffet</span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i span class="icon-Clipboard-check" " style="margin-right: 5px;">
                                <span class="path1"></span><span class="path2"></span>
                            </i>
                            <span>Quản Lý Món Ăn</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="/Admin/CategoryFood ">
                                    <i class="icon-Commit" style="padding-right: 0px;">
                                        <span class="path1"></span><span class="path2"></span>
                                    </i>Thể Loại Món Ăn
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/MenuItem">
                                    <i class="icon-Commit" style="padding-right: 0px;">
                                        <span class="path1"></span><span class="path2"></span>
                                    </i>Thông Tin Món Ăn
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/BuffetTicketMenuItem">
                                    <i class="icon-Commit" style="padding-right: 0px;">
                                        <span class="path1"></span><span class="path2"></span>
                                    </i>Thực Đơn Theo Vé Buffet
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="header">Thao Tác Nghiệp Vụ</li>

                    <li class="header">Thao Tác Khác</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="sidebar-footer">
        <a href="javascript:void(0)" class="link" data-bs-toggle="tooltip" title="" data-bs-original-title="Settings" aria-label="Settings"><span class="icon-Settings-2"></span></a>
        <a href="mailbox.html" class="link" data-bs-toggle="tooltip" title="" data-bs-original-title="Email" aria-label="Email"><span class="icon-Mail"></span></a>
        <a href="javascript:void(0)" class="link" data-bs-toggle="tooltip" title="" data-bs-original-title="Logout" aria-label="Logout"><span class="icon-Lock-overturning"><span class="path1"></span><span class="path2"></span></span></a>
    </div>
</aside>